*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Poppins,sans-serif;
    /* overflow-x: hidden; */
}

/* Smooth scrolling effect for the entire page */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(235, 97, 97); /* Scrollbar thumb color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(235, 97, 97, 0.8); /* Hover color */
}

::-webkit-scrollbar-track {
    background: #010201; /* Scrollbar track color */
}


.navbar{
    background-color: #010201;
    display: flex;
    padding: 20px;
    height: 12vh;
    width: 100%;
}
.nav-items{
    display: flex;
    gap: 160%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 16px;
}
.name{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    list-style: none;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}
ul span{
    color: rgb(235, 97, 97);
}

.nav-headings{
    display: flex;
    list-style: none;
    width: 50%;
    gap: 20%;
}

.anima{
    text-decoration: none;
    position: relative;
}
.anima::after{
    content: "";
    position: absolute;
    background: rgb(235, 97, 97);
    left: 0;
    width: 0;
    bottom: -6px;
    height: 3px;
    transition: 0.5s;
}

.anima:hover::after{
    width: 100%;
}


#home{
    width:100%;
    height:88vh;
    background-image: url(/images/background.png);
    background-size: cover;
    background-position: center;
}
.text{
    position: absolute;
    left: 10vw;
    top: 40vh;
    line-height: 70px;
}
.text h1{
    font-size: 60px;
}

.text h1 span{
    color:  rgb(235, 97, 97);
}
.text h2{
    font-weight: lighter;
}
/*-------------------------- about----------------------------- */
.about{
    background-color: #010201;
    padding: 80px 0px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;/*meaning it will take only 35% width */
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 70px;
}

.about-col-2{
    flex-basis: 55%;
}

.title{
    font-size: 60px;
    font-style: bolder;
    margin-bottom: 60px;
}

.title span{
    color: rgb(235, 97, 97);
}

.about-content{
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.tab-titles{
    display: flex;
    gap:40px;
    margin-bottom: 50px;
    font-size: 18px;
    cursor: pointer;
}

.tab-link{
    list-style: none;
    position: relative;
}

.tab-link::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: rgb(235, 97, 97);
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.active-link::after{
    width: 50%;
}

.tab-titles p{
    color: rgba(235, 97, 97, 0.758);
}

.tab-contents{
    display: none;
}

.tab-contents ul{
    list-style: none;
    gap: 40px;
    display: grid;
}
.active-tab{
    display: grid;
}

/* ---------------------Services---------------------- */
.services{
    padding: 30px 0;
    background-color: #010201;
}

.services h1{
    margin-left: 70px;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.3fr));
    grid-gap:40px;
    margin-top: 40px;
    margin-left: 70px;
}

.service-list div{
    background-color: #262626;
    padding: 40px;
    border-radius: 10px;
}

.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.service-list p{
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 500;
}

.service-list a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.service-1{
    transition: transform 0.5s, background-color 0.5s;
}
.service-1:hover{
    transform: translateY(-10px);
    background-color: rgb(235, 97, 97);
}
/* ----------------------------Portfolio-------------------- */
.portfolio{
    background-color: #010201;
    padding: 40px 0;
}

.portfolio h1{
    margin-left: 70px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,0.3fr));
    gap:70px;
    margin-left: 70px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(235,97,97));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p{
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 500;
}

.layer  a{
    font-size: 25px;
    text-decoration: none;
    line-height: 57px;
    background: #fff ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.layer i{
    color:rgb(235, 97, 97);
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
    bottom: 0;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(235, 97, 97);
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(235, 97, 97);
}

/* -----------------------------Contact------------------- */
.contact{
    background-color: #010201;
}

.contact-left{
    flex-basis: 35%;
    margin-left: 70px;
}
.contact-left p{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px,0.05fr));
}

.social-icons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.social-icons i{
    font-size: 20px;
    color: #ababab;
    transition:  transform 0.5s;
}

.social-icons i:hover{
    color: rgb(235, 97, 97);
    transform: translateY(-5px);
}

.btn-CV{
    display: inline-block;
    background: rgb(235, 97, 97);
}

.contact-right{
    flex-basis: 60%; 
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn-CV{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align:center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    text-align:center;
}

.copyright i{
    color: rgb(235, 97, 97);
}
#msg{
    color: #61b752;
    margin-top: -30px;
    display: block;
}
/* --------------------------css for small screen------------------- */
@media only screen and (max-width: 600px){
 #home{
    background-image: url(/images/phone-background.png);
 }   
}
 